<template>
  <div>
    <b-card class="card">
      <h2 class="text-center">{{ title }}</h2>
      <slot></slot>
    </b-card>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
  },
}
</script>

<style>
@media screen and (min-width: 541px) {
  .card {
    min-width: 240px;
    max-width: 500px;
    min-height: 300px;
    margin: 0 auto;
  }
}
</style>
