<template>
  <div class="center">
    <b-card class="card">
      <h1 class="text-center">{{ title }}</h1>
      <slot></slot>
    </b-card>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
  },
  data() {
    return {}
  },
}
</script>

<style>
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  display: flex;
  justify-content: center;
  align-self: center;
  min-width: 280px;
  min-height: 100px;
}

@media screen and (min-width: 541px) {
  .card {
    min-width: 450px;
    min-height: 300px;
    margin: 0 auto;
  }
}
</style>
