<template>
  <div class="main align-items-center my-auto">
    <Form title="Login">
      <form>
        <b-row class="my-3">
          <b-col>
            <label for="phoneNumber">Phone Number</label>
            <b-form-input
              v-model="phoneNumber"
              type="text"
              placeholder="Enter your phone number"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-3">
          <b-col>
            <label for="password">Password</label>
            <b-form-input
              v-model="password"
              type="password"
              placeholder="Enter your password"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-2">
          <b-col>
            <NuxtLink to="register">Don't have account? Click Here!</NuxtLink>
          </b-col>
        </b-row>
        <b-col lg="12" class="pb-2 mt-3">
          <b-button block variant="primary" @click="loginAccount">
            Login
          </b-button>
        </b-col>
      </form>
    </Form>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="alertColor"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ alertMessage }}
    </b-alert>
  </div>
</template>

<script>
import UID from 'uniquebrowserid'
export default {
  data() {
    return {
      dismissSecs: 5,
      dismissCountDown: 0,
      alertMessage: '',
      alertColor: '',
      token: [],
      phoneNumber: '',
      password: '',
      latLong: '',
      deviceToken: '',
      deviceType: 0,
    }
  },
  mounted() {
    this.getLatLong()
    this.getDeviceType()
    this.getDeviceToken()
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },
    getLatLong() {
      if (process.browser) {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            this.showPosition,
            this.errorCallback
          )
        }
      }
    },
    errorCallback(error) {
      if (error.code === error.PERMISSION_DENIED) {
        this.latLong = '00'
      }
    },
    showPosition(position) {
      this.latLong = position.coords.latitude + position.coords.longitude
    },
    getDeviceToken() {
      const myid = new UID().completeID()
      this.deviceToken = myid
    },
    getDeviceType() {
      if (process.browser) {
        const userAgent =
          navigator.userAgent || navigator.vendor || window.opera

        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream)
          this.deviceType = 0
        if (/android/i.test(userAgent)) this.deviceType = 1
        else this.deviceType = 2
      }
    },
    loginAccount() {
      const qs = require('qs')
      const data = qs.stringify({
        phone: this.phoneNumber,
        password: this.password,
        latlong: this.latLong,
        device_type: this.deviceType,
        device_token: this.deviceToken,
      })
      const url = '/api/oauth/sign_in'
      const config = {
        method: 'post',
        url,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        data,
      }
      this.$axios(config)
        .then((response) => {
          this.token = response.data.data.user
          this.$store.commit('myToken', this.token)
          this.$router.push('user-dashboard')
        })
        .catch((error) => {
          if (error.response.status === 406 || error.response.status === 422) {
            // alert(error.response.data.error.errors)
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
          if (error.response.status === 401) {
            this.alertMessage = 'Please Verif Your Phone Number First'
            this.alertColor = 'danger'
            this.showAlert()
            this.$store.commit('myUser', {
              id: error.response.data.error.errors[0].user_id,
            })
            this.$router.push('otp')
          }
        })
    },
  },
}
</script>

<style>
.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
