<template>
  <div class="main align-items-center my-auto">
    <Form title="OTP Verification">
      <b-row class="my-3">
        <b-col lg="12">
          <v-otp-input
            input-classes="otp-input"
            :num-inputs="4"
            separator="-"
            :should-auto-focus="true"
            @on-complete="createAccount"
          />
        </b-col>
      </b-row>
      <b-row class="my-2">
        <b-col>
          <a v-b-toggle href="#example-collapse" @click.prevent
            >Resend Message Verification</a
          >

          <b-collapse id="example-collapse">
            <b-row>
              <b-col>
                <label for="password">Phone Number</label>
                <b-form-input
                  v-model="phoneNumber"
                  type="text"
                  placeholder="Enter your phone number"
                ></b-form-input>
                <b-col lg="4" class="pb-2 mt-3">
                  <b-button block variant="primary" @click="resendVerification">
                    Resend
                  </b-button>
                </b-col>
              </b-col>
            </b-row>
          </b-collapse>
        </b-col>
      </b-row>
    </Form>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="alertColor"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ alertMessage }}
    </b-alert>
  </div>
</template>

<script>
import OtpInput from '@bachdgvn/vue-otp-input'
export default {
  components: {
    'v-otp-input': OtpInput,
  },
  data() {
    return {
      dismissSecs: 5,
      dismissCountDown: 0,
      alertMessage: '',
      alertColor: '',
      phoneNumber: '',
    }
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },
    resendVerification() {
      const qs = require('qs')
      const data = qs.stringify({
        phone: this.phoneNumber,
      })
      const url = '/api/register/otp/request'
      const config = {
        method: 'post',
        url,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        data,
      }
      this.$axios(config)
        .then(() => {
          this.alertMessage = 'Please Check Your Message Again'
          this.alertColor = 'success'
          this.showAlert()
        })
        .catch((error) => {
          if (error.response.status === 406 || error.response.status === 422) {
            // alert(error.response.data.error.errors)
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
          if (error.response.status === 401) {
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
        })
    },
    createAccount(value) {
      const qs = require('qs')
      const data = qs.stringify({
        user_id: this.$store.state.uuid.id,
        otp_code: value,
      })
      const url = '/api/register/otp/match'
      const config = {
        method: 'post',
        url,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        data,
      }
      this.$axios(config)
        .then(() => {
          this.alertMessage = 'Please Login'
          this.alertColor = 'success'
          this.showAlert()
          this.$router.push('/')
        })
        .catch((error) => {
          if (error.response.status === 406 || error.response.status === 422) {
            // alert(error.response.data.error.errors)
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
          if (error.response.status === 401) {
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
        })
    },
  },
}
</script>

<style>
.otp-input {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: 'center';
}
.error {
  border: 1px solid red !important;
}
</style>
