<template>
  <div>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="alertColor"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ alertMessage }}
    </b-alert>
    <b-row>
      <b-col cols="12" class="pr-0">
        <div class="cover__picture pa-2" @click="triggerFileInputCover()">
          <div v-if="$store.state.user.cover_picture.url != null">
            <img
              :src="`${
                $store.state.user.cover_picture.url ||
                'https://img.freepik.com/free-vector/blank-light-grey-blurred-background-with-radial-gradient_53562-6788.jpg?size=626&ext=jpg'
              }`"
              alt="Responsive image"
            />
          </div>
        </div>
      </b-col>
    </b-row>

    <b-row class="my-5">
      <b-col cols="12" xl="2">
        <b-container fluid class="bv-example-row">
          <div class="mb-5" @click="triggerFileInput()">
            <div v-if="$store.state.user.user_pictures.length != 0">
              <b-avatar
                class="profile__picture"
                :src="`${
                  $store.state.user.user_pictures[
                    $store.state.user.user_pictures.length - 1
                  ].picture.url
                }`"
                size="10rem"
              ></b-avatar>
            </div>
            <div v-else>
              <b-avatar class="profile__picture" size="10rem"></b-avatar>
            </div>
          </div>
          <input
            id="file-input"
            ref="fileInput"
            type="file"
            accept="image/*"
            style="display: none"
            @change="uploadImageProfile($event)"
          />
          <input
            id="file-input"
            ref="fileInputCover"
            type="file"
            accept="image/*"
            style="display: none"
            @change="uploadImageCover($event)"
          />
          <b-col lg="12" class="pb-2 mt-3">
            <b-button block variant="primary" @click="logoutAccount">
              Logout
            </b-button>
          </b-col>
          <Card title="Profile History">
            <b-col cols="8" class="pb-2 mt-3">
              <a
                v-b-toggle
                class="text-white"
                href="#example-collapse-1"
                @click.prevent
              >
                <b-button
                  block
                  variant="primary"
                  @click="buttonToggleEditProfile"
                >
                  Edit Profile
                </b-button>
              </a>
            </b-col>
            <h5>Name:</h5>
            <b-form-input v-model="name" :readonly="toggleEditProfile == false">
            </b-form-input>
            <h5>Age:</h5>
            <b-form-input readonly :value="`${$store.state.user.age || '-'}`">
            </b-form-input>
            <h5>Birthday:</h5>
            <b-form-input
              v-model="birthday"
              :readonly="toggleEditProfile == false"
            >
            </b-form-input>
            <label for="birthday">Format: YYYY-MM-DD</label>
            <h5>Hometown:</h5>
            <b-form-input
              v-model="hometown"
              :readonly="toggleEditProfile == false"
            >
            </b-form-input>
            <h5>Gender:</h5>
            <b-form-group v-slot="{ ariaDescribedby }">
              <b-form-radio
                v-model="selectedGender"
                :aria-describedby="ariaDescribedby"
                name="some-radios"
                :disabled="toggleEditProfile == false"
                value="male"
                >Male</b-form-radio
              >
              <b-form-radio
                v-model="selectedGender"
                :aria-describedby="ariaDescribedby"
                name="some-radios"
                :disabled="toggleEditProfile == false"
                value="female"
                >Female</b-form-radio
              >
            </b-form-group>

            <h5>Bio:</h5>
            <b-form-textarea
              v-model="bio"
              :readonly="toggleEditProfile == false"
            >
            </b-form-textarea>
            <b-collapse id="example-collapse-1">
              <b-row>
                <b-col lg="12" class="pb-2 mt-3">
                  <b-button block variant="primary" @click="updateProfile">
                    Save Profile
                  </b-button>
                </b-col>
              </b-row>
            </b-collapse>
          </Card>
        </b-container>
      </b-col>
      <b-col cols="12" xl="5">
        <b-container fluid class="bv-example-row">
          <Card title="Career History">
            <b-col cols="7" class="pb-2 mt-3">
              <a
                v-b-toggle
                class="text-white"
                href="#example-collapse-2"
                @click.prevent
              >
                <b-button
                  block
                  variant="primary"
                  @click="buttonToggleEditCareer"
                >
                  Edit Career
                </b-button>
              </a>
            </b-col>
            <h5>Company Name:</h5>
            <b-form-input
              v-model="companyName"
              :readonly="toggleEditCareer == false"
            >
            </b-form-input>
            <h5>Starting From:</h5>
            <b-form-input
              v-model="startingFrom"
              :readonly="toggleEditCareer == false"
            >
            </b-form-input>
            <label for="startingFrom">Format: YYYY-MM-DD</label>
            <h5>Ending In:</h5>
            <b-form-input
              v-model="endingIn"
              :readonly="toggleEditCareer == false"
            >
            </b-form-input>
            <label for="endingIn">Format: YYYY-MM-DD</label>
            <b-collapse id="example-collapse-2">
              <b-row>
                <b-col lg="12" class="pb-2 mt-3">
                  <b-button block variant="primary" @click="updateCareer">
                    Save Career History
                  </b-button>
                </b-col>
              </b-row>
            </b-collapse>
          </Card>
          <Card title="Message">
            <div v-for="message in stateMessage" :key="message.id">
              <h6>Pesan dari: {{ message.user_sender.name || '' }}</h6>
              <p>
                {{ message.message || '' }}
              </p>
            </div>
          </Card>
        </b-container>
      </b-col>
      <b-col cols="12" xl="5">
        <b-container fluid class="bv-example-row">
          <Card title="Education History">
            <b-col cols="7" class="pb-2 mt-3">
              <a
                v-b-toggle
                class="text-white"
                href="#example-collapse-3"
                @click.prevent
              >
                <b-button
                  block
                  variant="primary"
                  @click="buttonToggleEditEducation"
                >
                  Edit Education
                </b-button>
              </a>
            </b-col>
            <h5>School Name:</h5>
            <b-form-input
              v-model="schoolName"
              :readonly="toggleEditEducation == false"
            >
            </b-form-input>
            <h5>Graduation Time:</h5>
            <b-form-input
              v-model="graduationTime"
              :readonly="toggleEditEducation == false"
            >
            </b-form-input>
            <label for="graduationTime">Format: YYYY-MM-DD</label>
            <b-collapse id="example-collapse-3">
              <b-row>
                <b-col lg="12" class="pb-2 mt-3">
                  <b-button block variant="primary" @click="updateEducation">
                    Save Education History
                  </b-button>
                </b-col>
              </b-row>
            </b-collapse>
          </Card>
        </b-container>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  middleware({ store, redirect }) {
    // If the user is not authenticated
    if (store.state.token.length === 0) {
      return redirect('/')
    }
  },
  data() {
    return {
      dismissSecs: 5,
      dismissCountDown: 0,
      alertMessage: '',
      alertColor: '',
      toggleEditProfile: false,
      toggleEditEducation: false,
      toggleEditCareer: false,
      name: '',
      birthday: '',
      hometown: '',
      selectedGender: '',
      gender: 0,
      bio: '',
      companyName: '',
      startingFrom: '',
      endingIn: '',
      schoolName: '',
      graduationTime: '',
    }
  },
  computed: {
    stateMessage() {
      return this.$store.state.message
    },
  },
  mounted() {
    this.getUserProfile()
    this.getMessage()
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },
    logoutAccount() {
      const qs = require('qs')
      const data = qs.stringify({
        access_token: this.$store.state.token.access_token,
        confirm: 1,
      })
      const url = '/api/oauth/revoke'
      const config = {
        method: 'post',
        url,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        data,
      }
      this.$axios(config)
        .then(() => {
          this.$store.commit('myToken', '')
          this.$store.commit('myUser', '')
          this.$router.push('/')
        })
        .catch(() => {
          this.$store.commit('myToken', '')
          this.$store.commit('myUser', '')
          this.$router.push('/')
        })
    },
    getUserProfile() {
      const url = '/api/profile/me'

      this.$axios
        .get(url, {
          headers: {
            Authorization: `Bearer ${this.$store.state.token.access_token}`,
          },
        })
        .then((response) => {
          this.showProfile(response)
          this.$store.commit('myUser', response.data.data.user)
        })
    },
    getMessage() {
      const url = '/api/message/ae1beedd-669a-42ee-a072-a47009c537a2'

      this.$axios
        .get(url, {
          headers: {
            Authorization: `Bearer ${this.$store.state.token.access_token}`,
          },
        })
        .then((response) => {
          this.$store.commit('myMessage', response.data.data.chat)
        })
    },
    showProfile(response) {
      this.selectedGender = response.data.data.user.gender
      this.name = response.data.data.user.name
      this.birthday = response.data.data.user.birthday
      this.bio = response.data.data.user.bio
      this.hometown = response.data.data.user.hometown
      this.companyName = response.data.data.user.career.company_name
      this.startingFrom = response.data.data.user.career.starting_from
      this.endingIn = response.data.data.user.career.ending_in
      this.schoolName = response.data.data.user.education.school_name
      this.graduationTime = response.data.data.user.education.graduation_time
    },
    triggerFileInput() {
      this.$refs.fileInput.click()
    },
    triggerFileInputCover() {
      this.$refs.fileInputCover.click()
    },
    uploadImageProfile(event) {
      const url = '/api/uploads/profile'
      const data = new FormData()
      data.append('image', event.target.files[0])

      const config = {
        method: 'post',
        url,
        headers: {
          Authorization: `Bearer ${this.$store.state.token.access_token}`,
          'Content-Type': 'multipart/form-data',
        },
        data,
      }

      this.$axios(config)
        .then(() => {
          this.alertMessage = 'Profile Image Updated'
          this.alertColor = 'success'
          this.showAlert()
          this.getUserProfile()
        })
        .catch((error) => {
          if (error.response) {
            if (error.response.status === 413) {
              this.alertMessage = 'Image Size Is Too Big'
              this.alertColor = 'danger'
              this.showAlert()
            } else {
              this.alertMessage = 'Please Try Again'
              this.alertColor = 'danger'
              this.showAlert()
            }
          }
        })
    },
    uploadImageCover(event) {
      const url = '/api/uploads/cover'
      const data = new FormData()
      data.append('image', event.target.files[0])

      const config = {
        method: 'post',
        url,
        headers: {
          Authorization: `Bearer ${this.$store.state.token.access_token}`,
          'Content-Type': 'multipart/form-data',
        },
        data,
      }

      this.$axios(config)
        .then(() => {
          this.alertMessage = 'Cover Image Updated'
          this.alertColor = 'success'
          this.showAlert()
          this.getUserProfile()
        })
        .catch((error) => {
          if (error.response) {
            if (error.response.status === 413) {
              this.alertMessage = 'Image Size Is Too Big'
              this.alertColor = 'danger'
              this.showAlert()
            } else {
              this.alertMessage = 'Please Try Again'
              this.alertColor = 'danger'
              this.showAlert()
            }
          }
        })
    },
    buttonToggleEditProfile() {
      this.toggleEditProfile = !this.toggleEditProfile
    },
    buttonToggleEditCareer() {
      this.toggleEditCareer = !this.toggleEditCareer
    },
    buttonToggleEditEducation() {
      this.toggleEditEducation = !this.toggleEditEducation
    },
    updateProfile() {
      if (this.selectedGender === 'male') this.gender = 0
      else this.gender = 1
      const qs = require('qs')
      const data = qs.stringify({
        name: this.name,
        gender: this.gender,
        birthday: this.birthday,
        hometown: this.hometown,
        bio: this.bio,
      })
      const url = '/api/profile'
      const config = {
        method: 'post',
        url,
        headers: {
          Authorization: `Bearer ${this.$store.state.token.access_token}`,
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        data,
      }
      this.$axios(config)
        .then(() => {
          this.getUserProfile()
          this.alertMessage = 'Profile Updated'
          this.alertColor = 'success'
          this.showAlert()
          this.toggleEditProfile = false
        })
        .catch((error) => {
          if (error.response.status === 406 || error.response.status === 422) {
            // alert(error.response.data.error.errors)
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
          if (error.response.status === 401) {
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
        })
    },
    updateCareer() {
      const qs = require('qs')
      const data = qs.stringify({
        position: 'test',
        company_name: this.companyName,
        starting_from: this.startingFrom,
        ending_in: this.endingIn,
      })
      const url = '/api/profile/career'
      const config = {
        method: 'post',
        url,
        headers: {
          Authorization: `Bearer ${this.$store.state.token.access_token}`,
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        data,
      }
      this.$axios(config)
        .then(() => {
          this.getUserProfile()
          this.alertMessage = 'Career History Updated'
          this.alertColor = 'success'
          this.showAlert()
          this.toggleEditCareer = false
        })
        .catch((error) => {
          if (error.response.status === 406 || error.response.status === 422) {
            // alert(error.response.data.error.errors)
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
          if (error.response.status === 401) {
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
        })
    },
    updateEducation() {
      const qs = require('qs')
      const data = qs.stringify({
        school_name: this.schoolName,
        graduation_time: this.graduationTime,
      })
      const url = '/api/profile/education'
      const config = {
        method: 'post',
        url,
        headers: {
          Authorization: `Bearer ${this.$store.state.token.access_token}`,
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        data,
      }
      this.$axios(config)
        .then(() => {
          this.getUserProfile()
          this.alertMessage = 'Education History Updated'
          this.alertColor = 'success'
          this.showAlert()
          this.toggleEditEducation = false
        })
        .catch((error) => {
          if (error.response.status === 406 || error.response.status === 422) {
            // alert(error.response.data.error.errors)
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
          if (error.response.status === 401) {
            this.alertMessage = error.response.data.error.errors
            this.alertColor = 'danger'
            this.showAlert()
          }
        })
    },
  },
}
</script>

<style>
.cover__picture {
  width: 100%;
  height: 200px;
  background-color: rgb(223, 223, 223);
}

.cover__picture img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
}

.profile__picture {
  display: block;
  margin: 0 auto;
}

.profile__picture:hover {
  opacity: 0.5 !important;
  cursor: pointer;
}
</style>
